* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.title {
  font-family: sans-serif;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 0rem;
  position: relative;
}

.input-area {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  width: 400px;
  margin-top: 10px;
}

form {
  border-radius: 20px;
  padding: 35px;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.233);
  background: rgb(29, 29, 29);
  color: #fff;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input,
label {
  margin-top: 6px;
}

input {
  background: rgb(41, 41, 41);
  color: #fff;
  border-style: none;
  border-bottom: 1px solid white;
  border-radius: 4px;
  padding: 1px 4px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(36, 36, 36);
}

.invalid-input {
  background-color: rgb(255, 112, 112);
}

.valid-input {
  background-color: rgb(126, 255, 126);
}

#signup-submit.signup_input {
  background-color: rgb(61, 61, 61);
  border-style: none;
  color: #fff;
  width: 100px;
  padding: 8px;
  border-radius: 6px;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

p {
  margin: 5px;
  margin-left: 10px;
}

input > .avatar-input {
  margin-top: 5px;
}

.avatar-el {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 400px;
}

.title::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: -25px;
  margin-bottom: 20px;
  transition: width 0.25s ease-out;
}

.title:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
